<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js" defer></script>
    <script src="{% static 'add_new_tenant/js/script.js' %}" defer></script>
    <link rel="stylesheet" href="{% static 'add_new_tenant/css/reg.css' %}">
</head>
<body>
    <main>
        <div class="have_account">
            <p class="account">Немає акаунту?</p>
            <button id="switch" class="make_account">Зробити акаунт</button>
        </div>
        <form action="" method="POST">
            {% csrf_token %}
            <div class="form">
                <button type="button" class="log" id="send">Зареєструватись</button>
                <br>
                <label for="login" id="login_label">Login</label>
                <input type="text" name="login" id="login">
                
                <label for="password" id="password_label">Password</label>
                <input type="password" name="password" id="password">
            </div>
            <div class="error"></div>
        </form>
    </main>
</body>
</html>